# Application Secrets (DO NOT COMMIT .env)

JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

FERNET_KEY=generate_using_cryptography

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/vaultdb
